.notFound{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.not-found-heading{
    font-size: 3em;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0.4em;
}
.not-found-button{
    background-color: green;
    border:none;
    outline: none;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 0.5em;
    font-size: 1em;
}