.App {
  background-image: linear-gradient(to right, #587CFC, #7F7CFC);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card{
    background-color: white;
    text-align: center;
    padding: 1em;
    width: 90%;
  }
  .heading{
    color: #828899;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-bottom: 0;
    margin-bottom: 0.4em;
  }
  .para{
    color: #B0AFD9;
    font-size: 0.5em;
    line-height: 1.8em;
    margin-top: 0;
  }
  .form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  .label{
    color: #828899;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.7em;
  }
  .input{
    outline: none;
    height: 3em;
    margin-bottom: 0.7em;
    border-style: solid;
    border-color: #ECEDF7;
    border-width: 2px;
    border-radius:0.5em
  }
  .firstName-lastName-container{
    display: flex;
    width: 100%;
  }

  .name-container{
    text-align: left;
    width: 100%;
  }
  .name-first-input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    margin-top: 0.4em;
  }
  .name-last-input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    margin-top: 0.4em;
  }
  
  .login-button{
    height: 2.8em;
    border:none;
    outline: none;
    background-image: linear-gradient(to right, #587CFC, #7F7CFC);
    border-radius: 0.6em;
    color: white;
    font-size: 0.9em;
    margin-top: 0.8em;
  }
  .login-para{
    text-align: center;
    font-size: 0.9em;
    color: #7F7CFC;
    margin-top: 1em;
  }
  .link{
    text-decoration: none;
  }
  .errorMsg{
    color: red;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }