.App {
  background-image: linear-gradient(to right, #587CFC, #7F7CFC);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card{
    background-color: white;
    text-align: center;
    padding: 2em;
    width: 90%;
  }
  .heading{
    color: #828899;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    padding-bottom: 0;
    margin-bottom: 0.4em;
  }
  .para{
    color: #B0AFD9;
    font-size: 0.5em;
    line-height: 1.8em;
    margin-top: 0;
  }
  .form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  .label{
    color: #828899;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.7em;
  }
  .input{
    outline: none;
    height: 3em;
    margin-bottom: 0.7em;
    border-style: solid;
    border-color: #ECEDF7;
    border-width: 2px;
    border-radius:0.5em
  }
  .remember-forgotPassword-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 0.2em;
  }
  .input-remember{
    height: 1.4em;
    width: 1.4em;
    margin-right: 0.5em;
    outline: none;
    border-style: solid;
    border-color: #828899;
  }
  .remember-container{
    display: flex;
    align-content: center;
  }
  .remeber-para{
    color: #828899;
    align-self: center;
    font-size: 0.8em;
  }
  .forgot-para{
    color: #7F7CFC;
    font-size: 0.8em;
    align-self: center;
  }
  .login-button{
    height: 2.8em;
    border:none;
    outline: none;
    background-image: linear-gradient(to right, #587CFC, #7F7CFC);
    border-radius: 0.6em;
    color: white;
    font-size: 0.9em;
  }
  .sign-up-para{
    text-align: center;
    font-size: 0.9em;
    color: #7F7CFC;
    margin-top: 1.8em;
  }
  .errorMsg{
    color: red;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  @media screen and (min-width:768px){
    .App{
      padding: 4em;
    }
    .login-card{
      width: 30% !important;
      height: 50vh;
      padding: 4em !important;
      padding-top: 5em;
    }
  }