.Home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logout-button{
    background-color: green;
    border:none;
    outline: none;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 0.5em;
    font-size: 1em;
}
.image{
    height: 20em;
}